.jumbotron, #ekpektasi{
    background-color: #cbe1ff;
    padding: 2rem 0rem 0rem;
}
.header{
    font-variant: small-caps;
    font-weight: 500;
    font-size: 42px;
}
.coll1{
    padding-left: 1rem;
}
.coll2{
    padding-right: 1rem;
}
.isi{
    margin: auto;
    font-size: 18px;
}
.data-diri{
    margin: 0px 0px 0px 10px;
}
.data-diri tbody tr td{
    padding: 2px 5px;
}
#motivasi{
    padding: 1rem 0 0;
}
p{
    text-align: center;
}
#ekspektasi{
    background-color: #cbe1ff;
    padding: 1rem 0 0;
}
#tech-stack{
    padding: 2rem 0 0;
}
#kontak{
    background-color: #cbe1ff;
    padding: 1rem 0 2rem;
}
.sosmed{
    display: inline-block;
    margin: 3px 10px 0px;
}
.logo{
    width: 30px;
}
#kontak a{
    text-decoration: none;
    display: inline-block;
    text-align: left;
    color: black;
}
#kontak p{
    display: inline-block;
    text-align: left;
}
.gmail{
    width: 338px;
}
.linkedin{
    width: 226px;
}
.github{
    width: 112.5px;
}
.line{
    width: 110px;
}
.instagram{
    width: 153px;
}