.jumbotron{
    background-color: #cbe1ff;
    padding: 2rem 0rem 0rem;
}
.header{
    font-variant: small-caps;
    font-weight: 500;
    font-size: 42px;
}
.coll1{
    padding-left: 1rem;
}
.coll2{
    padding-right: 1rem;
}
.isi{
    margin: auto;
    font-size: 18px;
}
.data-diri{
    margin: 0px 0px 0px 10px;
}
.data-diri tbody tr td{
    padding: 2px 5px;
}
#motivasi p{
    text-align: center;
}